.header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #545454;
    width: 70%;
    min-height: 74px;
    margin: 0 auto 0;
    padding: 45px 0 0;
}

@media screen and (max-width: 950px) {
    .header {
        width: 90%;
        min-height: 64px;
    }
}

@media screen and (max-width: 740px) {
    .header {
        width: 95%;
        min-height: 56px;
    }
}

@media screen and (max-width: 425px) and (min-width: 0) {
    .header {
        width: 100%;
        padding: 28px 0 0;
    }
}