.profile__name {
    color: #ffffff;
    margin: 0;
    grid-column: 1;
    grid-row: 1;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
}

@media screen and (max-width: 425px) and (min-width: 0) {
    .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    }
}