.popup__text {
    width: 85%;
    height: 27px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #545454;
    box-sizing: border-box;
    padding: 0;
}
.popup__text:nth-last-of-type(1) {
    margin-bottom: 0;
}